<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
</script>
<template>
  <div>
    <v-container
      ><v-row
        ><v-col cols="6"><FirstComponent></FirstComponent></v-col
        ><v-col cols="6"><SecondComponent></SecondComponent></v-col> </v-row
    ></v-container>
  </div>
</template>
