<script lang="ts">
import { watch, reactive, computed } from "vue";

export default {
  setup() {
    const num = 0;
    const state = reactive({
      num: num,
      error: false,
    });

    watch(
      () => state.num,
      (newValue) => {
        if (newValue === null) {
          state.error = true;
        } else {
          state.error = false;
        }
      }
    );

    const rowsArray = computed(() => {
      const rows = [];
      let currentRow = 1;
      for (let i = 1; i <= state.num; i++) {
        if (i % 12 === 1) {
          rows[currentRow] = [i];
        } else {
          rows[currentRow].push(i);
        }
        if (i % 12 === 0) currentRow++;
      }
      return rows;
    });

    return {
      state,
      rowsArray,
    };
  },
};
</script>
<template>
  <div>
    <v-text-field
      v-model="state.num"
      label="Please Input Number"
      value="0"
    ></v-text-field>
    <span v-if="state.error" style="color: red">Number is not empty!!</span>
    <table v-if="state.num > 0" class="">
      <tr v-for="row in rowsArray" :key="row">
        <td v-for="n in row" :key="n">{{ n }}</td>
      </tr>
    </table>
  </div>
</template>

<style>
table {
  width: 100%;
}
td {
  width: 8.333%; /* 100 / 12 = 8.333 */
  height: 50px;
  text-align: center;
}
</style>
