<script setup lang="ts">
import { useNumberStore } from "@/stores/number";
const numStore = useNumberStore();
const delNum = (index: number): void => {
  numStore.decrement(index);
};
</script>
<template>
  <div>Second Component</div>
  <div v-for="item of numStore.nums" :key="item.id">{{ item.num * 2 }}</div>
  <div v-for="item of numStore.nums" :key="item.id">
    <v-btn @click="delNum(item.id)">Decrement</v-btn>
  </div>
</template>
